.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

label[for='title']:after,
label[for='first-name']:after,
label[for='last-name']:after,
label[for='birthday']:after,
label[for='phone']:after,
label[for='salary']:after {
  content: '*';
  display: inline-block;
  color: red;
  font-size: 1.4rem;
  margin-right: 5;
}